<!DOCTYPE html>
<html lang="en">

<head>
    <title>
        <%= htmlWebpackPlugin.options.title %>
    </title>
    <meta charset="UTF-8">
    <script src="html5plus://ready"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <script type="text/javascript" src="assets/js/lib-flexible-2.0/index.min.js"></script>
    <script type="text/javascript" src="assets/js/layer_mobile/layer.js"></script>
    <link rel="stylesheet" href="assets/css/mui.min.css" />
    <link rel="stylesheet" href="http://at.alicdn.com/t/font_350002_ny0xalf0q7zxgvi.css">
</head>

<body>
    <div id="<%= htmlWebpackPlugin.options.title %>"></div>
    <script type="text/javascript" src="assets/js/mui.min.js"></script>
</body>

</html>