@import "../login/login.scss";
@import "../../../../assets/css/mui.picker.all.css";
.registerBtn {
    margin-top: .5rem;
}

.login .mui-content .loginForm {
    margin-top: 0;
    .prompt-text{
      margin: 20px 10px;
      font-size: 14px;
      color: #ff762b
    }
}