<section class="lawPersonComp">
    <ul class="mui-table-view">
        <li class="mui-table-view-cell">相同法人代表其他企业数：<span class="num">{{detail.sameFrCnt}}</span></li>
        <li class="mui-table-view-cell">法人代表其他企业任职数：<span class="num">{{detail.sameFrPostion}}</span></li>
        <li class="mui-table-view-cell">法人被纳入风险名单数：<span class="num">{{detail.riskSameFrCnt}}</span></li>
        <li class="mui-table-view-cell">法人代表任职的其他企业纳入风险名单数：<span class="num">{{detail.riskSameFrInvest}}</span></li>
        <li class="mui-table-view-cell">法人对外投资企业数：<span class="num">{{detail.sameFrInvest}}</span></li>
        <li class="mui-table-view-cell">法人对外投资企业被纳入风险名单数：<span class="num">{{detail.riskSameFrPostion}}</span></li>
    </ul>
</section>