<section class="statusComp">
    <ul class="mui-table-view">
        <li class="mui-table-view-cell">是否经营异常：<span>{{val('abnormalOperation')}}</span></li>
        <li class="mui-table-view-cell">是否清算：<span>{{val('clear')}}</span></li>
        <li class="mui-table-view-cell">是否被执行人：<span>{{val('operationPerson')}}</span></li>
        <li class="mui-table-view-cell">是否失信被执行：<span>{{val('operationByLegal')}}</span></li>
        <li class="mui-table-view-cell">是否司法拍卖：<span>{{val('saleByLaw')}}</span></li>
        <li class="mui-table-view-cell">是否行政处罚：<span>{{val('administrativePenalty')}}</span></li>
        <li class="mui-table-view-cell">是否股权冻结：<span>{{val('freezeStockholder')}}</span></li>
        <li class="mui-table-view-cell">是否法院公告：<span>{{val('courtAnnouncement')}}</span></li>
        <li class="mui-table-view-cell">是否判决文书：<span>{{val('judgmentDoc')}}</span></li>
        <li class="mui-table-view-cell">是否动产抵押：<span>{{val('chattelMortgage')}}</span></li>
        <li class="mui-table-view-cell">是否股权出资：<span>{{val('equityPledged')}}</span></li>
    </ul>
</section>