<section id="index">
    <section class="header" id="indexHeader">
        <header class="headerbg" style="background-image:url(assets/images/ndt/home_bg@3x.png)">
            <div class="navBar mui-bar mui-bar-transparent">
                <span class="iconfont icon-user mui-pull-left" @tap.stop.prevent="showPage('user')"></span>
                <h3 class="mui-title">成都农贷通</h3>
                <span class="iconfont icon-msg mui-pull-right mui-hidden"></span>
            </div>
            <div class="banner">
                <section class="news">
			        <div class="calendar" style="background-image:url(assets/images/ndt/home_bg_calendar@3x.png)">
			            <span class="month" v-if="news.length">{{format(news[0].updateAt,"M")}} 月</span>
			            <span class="date" v-if="news.length">{{format(news[0].updateAt,"d")}}</span>
			        </div>
			        <div class="newInfo" v-if="news.length">
			            <div class="itemWrap" :style="{'transform':'translate3d(0, '+scrollTop+'rem, 0)','transition':(scrollTop===0)?'transform 0s':'transform .5s'}">
			                <div class="item" v-for="item in news" @tap.stop.prevent="showNews('newDetail',item,'policy')">
			                    <h3 class="ellipsis">{{item.title || '农贷通新一轮政策扶植出台'}}</h3>
			                    <div class="p ellipsis" v-html="item.summary || '农贷通新一轮政策扶植出台，农贷通新一… '"></div>
			                </div>
			                <div class="item" v-for="item in news" @tap.stop.prevent="showNews('newDetail',item,'policy')">
			                    <h3 class="ellipsis">{{item.title || '农贷通新一轮政策扶植出台'}}</h3>
			                    <div class="p ellipsis" v-html="item.summary || '农贷通新一轮政策扶植出台，农贷通新一… '"></div>
			                </div>
			            </div>
			        </div>
			        <div class="newInfo" v-else>
			            <h3 class="ellipsis">{{'农贷通新一轮政策扶植出台'}}</h3>
			            <div class="p ellipsis">{{'农贷通新一轮政策扶植出台，农贷通新一… '}}</div>
			        </div>
			    </section>
            </div>
        </header>
    </section>
    <section class="productsList">
        <header class="proTitle">
            <h3>本行产品</h3>
            <!--<i class="iconfont icon-more" @tap.stop.prevent="showPage('financialProducts')"></i>-->
        </header>
        <net-status :reload="reload" :loading="loading" :no-data="!loading && !list.length"></net-status>
        <ul class="proWrap" v-if="!loading && list.length">
            <li class="proItem" v-for="item in list" @tap.stop.prevent="showPage('productDetail',item.id)">
                <div class="productInfo-admin">
                    <div class="avatar" :style="{backgroundImage:logo(item.logoImageUrl || '')}" >
                    </div>
                    <div class="bank">
                        <h3 class="title"><label class="ellipsis">{{item.name}}</label> <span v-if="item.state==3401">未发布</span><span v-else-if="item.state==3402">已发布</span><span v-else-if="item.state==3403">已下架</span></h3>
                        <div class="name ellipsis">{{item.orgName}}</div>
                        <div class="labels" v-if="item.labelNames && item.labelNames.length">
	                        <label v-for="label in item.labelNames">{{label}}</label>
	                    </div>
                    </div>
                    <div class="desc">
                    	<div>
                    		<p class="ellipsis">贷款方式：<span class="red" v-for="(loan, index) in item.loanTypeNames">{{loan}}<span v-if="index<item.loanTypeNames.length-1">、</span></span></p>
	                        <p class="ellipsis">贷款对象：<span v-for="(toname, index) in item.productToNames">{{toname}}<span v-if="index<item.productToNames.length-1">、</span></span></p>
	                        <p class="ellipsis">所属区域：<span v-for="(divisionName, index) in item.divisionNames">{{divisionName}}<span v-if="index<item.divisionNames.length-1">、</span></span></p>
                    	</div>
                    	<div>
                    		<p>处理中：<span class="red">5</span></p>
	                        <p>申请总数：15</p>
	                        <p>项目完结：5</p>
                    	</div>
                    </div>
                </div>
            </li>
        </ul>
    </section>
</section>